@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

#first {
    background-color: gray;
    background-image: url("/home/serhii/www/img/1556866648_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    color: black;
    font-size: 20px;
    /* text-align: center; */
    font-family: 'Zen Dots', cursive;

}

#second {
    height: 300px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
}

#third {
    height: 300px;
    text-align: right;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
    text-transform: lowercase;
    word-spacing: 20px;
    line-height: 50px;
}

#forth {
    height: 300px;
    text-align: justify;
    font-size: 1.5em;
    font-style: oblique;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
}

.main_link {
    color: crimson;
    text-decoration: none;

}

.main_link:hover {
    color: green;
    text-decoration: overline;
    text-decoration-color: darkmagenta;
    cursor: pointer;
}

.main_link:active {
    text-decoration: line-through;
}

.main_link:visited {
    color: grey;
}

#input-text {
    color: rgb(4, 58, 40);
}

#input-text:focus {
    color: brown;
}

#some-text::after {
    content: '------';
    color: green;
}


#some-text::before {
    content: '------';
    color: rgb(22, 46, 118);
}